apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.crt
    server: https://{{ masterip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ item[0] }}
  name: {{ item[0] }}-ctx
current-context: {{ item[0] }}-ctx
users:
- name: {{ item[0] }}
  user:
    client-certificate: /etc/kubernetes/certs/{{ item[1] }}.crt
    client-key: /etc/kubernetes/certs/{{ item[1] }}.key
